* {
	all: unset;
	font-family: "FiraCode Nerd Font";
	font-size: 13px;
	font-weight: normal;
	min-height: 30px;	
}

#waybar {
	background-color: rgba(0,0,0,0);
	border: none;
	box-shadow: none;
}

.modules-left, .modules-right {
	background-color: rgba(0, 0, 0, 0.5);
  	padding: 4px 4px;
  	margin-left: 4px;
  	margin-right: 0px;
  	margin-top: 4px;
  	border-radius: 10px;
}

#backlight-slider slider {
	all: unset;
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	all: unset;
	min-height: 10px;
	min-width: 100px;
	border-radius: 5px;
	background-color: rgba(0,0,0,50);	
}

#backlight-slider highlight {
	all: unset;
	min-width: 0px;
	border-radius: 5px;
	background-color: $WAYBAR_BLSLIDER_BG;
}

#workspaces {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 10px 10px;
  margin: 0px 5px;
  padding: 0px 6px;
}

#battery.warning, #battery.critical {
  background: none; 
}
#workspaces button {
  color: #303030;
  background: transparent;
  padding: 4px 4px;
  transition: all 0.3s ease;
}

#workspaces button.occupied {
  color: #FF5555;
}

#workspaces button.active {
  color: $WAYBAR_WSBUT_ACTIVE;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: $WAYBAR_WSBUT_HOVER;
}

#workspaces button.active:hover {}

#custom-power {
	color: inherit;
	background-color: inherit;
}
